power-manager-v5.json
[
    {
        "id": "power_manager_tab",
        "type": "tab",
        "label": "Power Manager",
        "disabled": false,
        "info": "Power Manager v5.1 - Vooruitkijkend plan"
    },
    {
        "id": "config_node",
        "type": "function",
        "z": "power_manager_tab",
        "name": "⚙️ CONFIG",
        "func": "flow.set('config', {\n    units: { p1: 1000, pv: 1, boiler: 1, poolHeat: 1, ev: 1, acLiving: 1, acBureau: 1 },\n    maxImportPeak: 2500,\n    maxImportDal: 5000,\n    maxImportSuperdal: 8000,\n    hysteresis: 300,\n    minOnTime: 300,\n    minOffTime: 180,\n    evMinAmps: 6,\n    evMaxAmps: 16,\n    evWattsPerAmp: 692,\n    boilerPower: 2500,\n    boilerIdleThreshold: 50,\n    boilerDeadlineWinter: 6.5,\n    boilerDeadlineSummer: 8.0,\n    poolIdlePower: 100,\n    poolActivePower: 2000,\n    heaterRightPower: 2500,\n    heaterTablePower: 4100,\n    acLivingPower: 1500,\n    acMancavePower: 1000,\n    acBureauPower: 1000,\n    acSlaapkamerPower: 1000,\n    winterSetpointLiving: 21,\n    winterSetpointMancave: 17,\n    summerCoolThreshold: 25,\n    summerTargetTemp: 22,\n    enableNotifications: true\n});\nif (!flow.get('actionLog')) flow.set('actionLog', []);\nnode.status({fill: 'green', shape: 'dot', text: 'Config v5.1'});\nreturn null;",
        "outputs": 0,
        "noerr": 0,
        "initialize": "node.send({});",
        "finalize": "",
        "libs": [],
        "x": 100,
        "y": 60,
        "wires": []
    },
    {
        "id": "inject_startup",
        "type": "inject",
        "z": "power_manager_tab",
        "name": "Startup",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "startup",
        "payloadType": "str",
        "x": 100,
        "y": 120,
        "wires": [["config_node", "init_state"]]
    },
    {
        "id": "init_state",
        "type": "function",
        "z": "power_manager_tab",
        "name": "🔄 Init",
        "func": "flow.set('deviceState', {\n    ev: { on: false, lastChange: 0, amps: 0 },\n    boiler: { on: false, lastChange: 0 },\n    pool: { on: false, lastChange: 0 },\n    heaterRight: { on: false, lastChange: 0 },\n    heaterTable: { on: false, lastChange: 0 },\n    acLiving: { on: false, lastChange: 0 },\n    acMancave: { on: false, lastChange: 0 },\n    acBureau: { on: false, lastChange: 0 },\n    acSlaapkamer: { on: false, lastChange: 0 }\n});\nflow.set('actionLog', []);\nreturn null;",
        "outputs": 0,
        "x": 250,
        "y": 120,
        "wires": []
    },
    {
        "id": "trigger_interval",
        "type": "inject",
        "z": "power_manager_tab",
        "name": "30s",
        "props": [{"p": "payload"}],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 200,
        "wires": [["gather_states"]]
    },
    {
        "id": "trigger_p1",
        "type": "server-state-changed",
        "z": "power_manager_tab",
        "name": "P1",
        "server": "7a1ecefa.85d54",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {"entity": ["sensor.electricity_meter_power_consumption"], "substring": [], "regex": []},
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "outputOnlyOnStateChange": false,
        "for": "",
        "forType": "num",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [{"property": "payload", "propertyType": "msg", "value": "", "valueType": "entityState"}],
        "x": 110,
        "y": 260,
        "wires": [["debounce_p1"]]
    },
    {
        "id": "debounce_p1",
        "type": "delay",
        "z": "power_manager_tab",
        "name": "5s",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": 1,
        "randomLast": 5,
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 230,
        "y": 260,
        "wires": [["gather_states"]]
    },
    {
        "id": "gather_states",
        "type": "api-current-state",
        "z": "power_manager_tab",
        "name": "P1",
        "server": "7a1ecefa.85d54",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "entity_id": "sensor.electricity_meter_power_consumption",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [{"property": "p1_power", "propertyType": "msg", "value": "", "valueType": "entityState"}],
        "for": "",
        "forType": "num",
        "x": 90,
        "y": 340,
        "wires": [["get_pv"]]
    },
    {
        "id": "get_pv",
        "type": "api-current-state",
        "z": "power_manager_tab",
        "name": "PV",
        "server": "7a1ecefa.85d54",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "entity_id": "sensor.solaredge_i1_ac_power",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [{"property": "pv_power", "propertyType": "msg", "value": "", "valueType": "entityState"}],
        "for": "",
        "forType": "num",
        "x": 170,
        "y": 340,
        "wires": [["get_boiler_switch"]]
    },
    {
        "id": "get_boiler_switch",
        "type": "api-current-state",
        "z": "power_manager_tab",
        "name": "Boiler",
        "server": "7a1ecefa.85d54",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "entity_id": "switch.storage_boiler",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [{"property": "boiler_switch", "propertyType": "msg", "value": "", "valueType": "entityState"}],
        "for": "",
        "forType": "num",
        "x": 260,
        "y": 340,
        "wires": [["get_boiler_power"]]
    },
    {
        "id": "get_boiler_power",
        "type": "api-current-state",
        "z": "power_manager_tab",
        "name": "Boiler W",
        "server": "7a1ecefa.85d54",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "entity_id": "sensor.storage_boiler_power",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [{"property": "boiler_power", "propertyType": "msg", "value": "", "valueType": "entityState"}],
        "for": "",
        "forType": "num",
        "x": 360,
        "y": 340,
        "wires": [["get_boiler_force"]]
    },
    {
        "id": "get_boiler_force",
        "type": "api-current-state",
        "z": "power_manager_tab",
        "name": "Force",
        "server": "7a1ecefa.85d54",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "entity_id": "input_boolean.force_heat_boiler",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [{"property": "boiler_force", "propertyType": "msg", "value": "", "valueType": "entityState"}],
        "for": "",
        "forType": "num",
        "x": 460,
        "y": 340,
        "wires": [["get_pool_season"]]
    },
    {
        "id": "get_pool_season",
        "type": "api-current-state",
        "z": "power_manager_tab",
        "name": "Season",
        "server": "7a1ecefa.85d54",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "entity_id": "input_boolean.pool_season",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [{"property": "pool_season", "propertyType": "msg", "value": "", "valueType": "entityState"}],
        "for": "",
        "forType": "num",
        "x": 550,
        "y": 340,
        "wires": [["get_pool_power"]]
    },
    {
        "id": "get_pool_power",
        "type": "api-current-state",
        "z": "power_manager_tab",
        "name": "Pool W",
        "server": "7a1ecefa.85d54",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "entity_id": "sensor.pool_heating_current_consumption",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [{"property": "pool_power", "propertyType": "msg", "value": "", "valueType": "entityState"}],
        "for": "",
        "forType": "num",
        "x": 650,
        "y": 340,
        "wires": [["get_pool_climate"]]
    },
    {
        "id": "get_pool_climate",
        "type": "api-current-state",
        "z": "power_manager_tab",
        "name": "Pool",
        "server": "7a1ecefa.85d54",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "entity_id": "climate.98d8639f920c",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [{"property": "pool_climate", "propertyType": "msg", "value": "", "valueType": "entityState"}],
        "for": "",
        "forType": "num",
        "x": 750,
        "y": 340,
        "wires": [["get_ev_state"]]
    },
    {
        "id": "get_ev_state",
        "type": "api-current-state",
        "z": "power_manager_tab",
        "name": "EV St",
        "server": "7a1ecefa.85d54",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "entity_id": "sensor.abb_terra_ac_charging_state",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [{"property": "ev_state", "propertyType": "msg", "value": "", "valueType": "entityState"}],
        "for": "",
        "forType": "num",
        "x": 850,
        "y": 340,
        "wires": [["get_ev_switch"]]
    },
    {
        "id": "get_ev_switch",
        "type": "api-current-state",
        "z": "power_manager_tab",
        "name": "EV SW",
        "server": "7a1ecefa.85d54",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "entity_id": "switch.abb_terra_ac_charging",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [{"property": "ev_switch", "propertyType": "msg", "value": "", "valueType": "entityState"}],
        "for": "",
        "forType": "num",
        "x": 950,
        "y": 340,
        "wires": [["get_ev_power"]]
    },
    {
        "id": "get_ev_power",
        "type": "api-current-state",
        "z": "power_manager_tab",
        "name": "EV W",
        "server": "7a1ecefa.85d54",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "entity_id": "sensor.abb_terra_ac_active_power",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [{"property": "ev_power", "propertyType": "msg", "value": "", "valueType": "entityState"}],
        "for": "",
        "forType": "num",
        "x": 1050,
        "y": 340,
        "wires": [["get_ev_limit"]]
    },
    {
        "id": "get_ev_limit",
        "type": "api-current-state",
        "z": "power_manager_tab",
        "name": "EV A",
        "server": "7a1ecefa.85d54",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "entity_id": "number.abb_terra_ac_current_limit",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [{"property": "ev_limit", "propertyType": "msg", "value": "", "valueType": "entityState"}],
        "for": "",
        "forType": "num",
        "x": 90,
        "y": 400,
        "wires": [["get_heater_right"]]
    },
    {
        "id": "get_heater_right",
        "type": "api-current-state",
        "z": "power_manager_tab",
        "name": "HR",
        "server": "7a1ecefa.85d54",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "entity_id": "switch.livingroom_right_heater",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [{"property": "heater_right_switch", "propertyType": "msg", "value": "", "valueType": "entityState"}],
        "for": "",
        "forType": "num",
        "x": 170,
        "y": 400,
        "wires": [["get_heater_table"]]
    },
    {
        "id": "get_heater_table",
        "type": "api-current-state",
        "z": "power_manager_tab",
        "name": "HT",
        "server": "7a1ecefa.85d54",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "entity_id": "switch.livingroom_table_heater_state",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [{"property": "heater_table_switch", "propertyType": "msg", "value": "", "valueType": "entityState"}],
        "for": "",
        "forType": "num",
        "x": 250,
        "y": 400,
        "wires": [["get_ac_living"]]
    },
    {
        "id": "get_ac_living",
        "type": "api-current-state",
        "z": "power_manager_tab",
        "name": "AC Liv",
        "server": "7a1ecefa.85d54",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "entity_id": "climate.living",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [{"property": "ac_living_state", "propertyType": "msg", "value": "", "valueType": "entityState"}],
        "for": "",
        "forType": "num",
        "x": 340,
        "y": 400,
        "wires": [["get_ac_mancave"]]
    },
    {
        "id": "get_ac_mancave",
        "type": "api-current-state",
        "z": "power_manager_tab",
        "name": "AC Man",
        "server": "7a1ecefa.85d54",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "entity_id": "climate.mancave",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [{"property": "ac_mancave_state", "propertyType": "msg", "value": "", "valueType": "entityState"}],
        "for": "",
        "forType": "num",
        "x": 430,
        "y": 400,
        "wires": [["get_ac_bureau"]]
    },
    {
        "id": "get_ac_bureau",
        "type": "api-current-state",
        "z": "power_manager_tab",
        "name": "AC Bur",
        "server": "7a1ecefa.85d54",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "entity_id": "climate.bureau",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [{"property": "ac_bureau_state", "propertyType": "msg", "value": "", "valueType": "entityState"}],
        "for": "",
        "forType": "num",
        "x": 520,
        "y": 400,
        "wires": [["get_ac_slaapkamer"]]
    },
    {
        "id": "get_ac_slaapkamer",
        "type": "api-current-state",
        "z": "power_manager_tab",
        "name": "AC Slp",
        "server": "7a1ecefa.85d54",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "entity_id": "climate.slaapkamer",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [{"property": "ac_slaapkamer_state", "propertyType": "msg", "value": "", "valueType": "entityState"}],
        "for": "",
        "forType": "num",
        "x": 610,
        "y": 400,
        "wires": [["get_ac_living_power"]]
    },
    {
        "id": "get_ac_living_power",
        "type": "api-current-state",
        "z": "power_manager_tab",
        "name": "AC LivW",
        "server": "7a1ecefa.85d54",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "entity_id": "sensor.living_current_power",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [{"property": "ac_living_power", "propertyType": "msg", "value": "", "valueType": "entityState"}],
        "for": "",
        "forType": "num",
        "x": 710,
        "y": 400,
        "wires": [["get_ac_bureau_power"]]
    },
    {
        "id": "get_ac_bureau_power",
        "type": "api-current-state",
        "z": "power_manager_tab",
        "name": "AC BurW",
        "server": "7a1ecefa.85d54",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "entity_id": "sensor.bureau_current_power",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [{"property": "ac_bureau_power", "propertyType": "msg", "value": "", "valueType": "entityState"}],
        "for": "",
        "forType": "num",
        "x": 810,
        "y": 400,
        "wires": [["get_temp_living"]]
    },
    {
        "id": "get_temp_living",
        "type": "api-current-state",
        "z": "power_manager_tab",
        "name": "T Liv",
        "server": "7a1ecefa.85d54",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "entity_id": "sensor.livingroom_temperature_temperature",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [{"property": "temp_living", "propertyType": "msg", "value": "", "valueType": "entityState"}],
        "for": "",
        "forType": "num",
        "x": 910,
        "y": 400,
        "wires": [["get_temp_bedroom"]]
    },
    {
        "id": "get_temp_bedroom",
        "type": "api-current-state",
        "z": "power_manager_tab",
        "name": "T Bed",
        "server": "7a1ecefa.85d54",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "entity_id": "sensor.bedroom_temperature_temperature",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [{"property": "temp_bedroom", "propertyType": "msg", "value": "", "valueType": "entityState"}],
        "for": "",
        "forType": "num",
        "x": 1010,
        "y": 400,
        "wires": [["get_temp_mancave"]]
    },
    {
        "id": "get_temp_mancave",
        "type": "api-current-state",
        "z": "power_manager_tab",
        "name": "T Man",
        "server": "7a1ecefa.85d54",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "entity_id": "sensor.mancave_inside_temperature",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [{"property": "temp_mancave", "propertyType": "msg", "value": "", "valueType": "entityState"}],
        "for": "",
        "forType": "num",
        "x": 90,
        "y": 460,
        "wires": [["get_ovr_ac_living"]]
    },
    {
        "id": "get_ovr_ac_living",
        "type": "api-current-state",
        "z": "power_manager_tab",
        "name": "Ovr Liv",
        "server": "7a1ecefa.85d54",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "entity_id": "input_select.pm_override_ac_living",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [{"property": "ovr_ac_living", "propertyType": "msg", "value": "", "valueType": "entityState"}],
        "for": "",
        "forType": "num",
        "x": 200,
        "y": 460,
        "wires": [["get_ovr_ac_slaapkamer"]]
    },
    {
        "id": "get_ovr_ac_slaapkamer",
        "type": "api-current-state",
        "z": "power_manager_tab",
        "name": "Ovr Slp",
        "server": "7a1ecefa.85d54",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "entity_id": "input_select.pm_override_ac_slaapkamer",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [{"property": "ovr_ac_slaapkamer", "propertyType": "msg", "value": "", "valueType": "entityState"}],
        "for": "",
        "forType": "num",
        "x": 320,
        "y": 460,
        "wires": [["get_ovr_ac_bureau"]]
    },
    {
        "id": "get_ovr_ac_bureau",
        "type": "api-current-state",
        "z": "power_manager_tab",
        "name": "Ovr Bur",
        "server": "7a1ecefa.85d54",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "entity_id": "input_select.pm_override_ac_bureau",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [{"property": "ovr_ac_bureau", "propertyType": "msg", "value": "", "valueType": "entityState"}],
        "for": "",
        "forType": "num",
        "x": 440,
        "y": 460,
        "wires": [["get_ovr_ac_mancave"]]
    },
    {
        "id": "get_ovr_ac_mancave",
        "type": "api-current-state",
        "z": "power_manager_tab",
        "name": "Ovr Man",
        "server": "7a1ecefa.85d54",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "entity_id": "input_select.pm_override_ac_mancave",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [{"property": "ovr_ac_mancave", "propertyType": "msg", "value": "", "valueType": "entityState"}],
        "for": "",
        "forType": "num",
        "x": 560,
        "y": 460,
        "wires": [["get_ovr_pool"]]
    },
    {
        "id": "get_ovr_pool",
        "type": "api-current-state",
        "z": "power_manager_tab",
        "name": "Ovr Pool",
        "server": "7a1ecefa.85d54",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "entity_id": "input_select.pm_override_pool",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [{"property": "ovr_pool", "propertyType": "msg", "value": "", "valueType": "entityState"}],
        "for": "",
        "forType": "num",
        "x": 680,
        "y": 460,
        "wires": [["get_ovr_boiler"]]
    },
    {
        "id": "get_ovr_boiler",
        "type": "api-current-state",
        "z": "power_manager_tab",
        "name": "Ovr Boiler",
        "server": "7a1ecefa.85d54",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "entity_id": "input_select.pm_override_boiler",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [{"property": "ovr_boiler", "propertyType": "msg", "value": "", "valueType": "entityState"}],
        "for": "",
        "forType": "num",
        "x": 800,
        "y": 460,
        "wires": [["get_ovr_ev"]]
    },
    {
        "id": "get_ovr_ev",
        "type": "api-current-state",
        "z": "power_manager_tab",
        "name": "Ovr EV",
        "server": "7a1ecefa.85d54",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "entity_id": "input_select.pm_override_ev",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [{"property": "ovr_ev", "propertyType": "msg", "value": "", "valueType": "entityState"}],
        "for": "",
        "forType": "num",
        "x": 920,
        "y": 460,
        "wires": [["power_manager"]]
    },
    {
        "id": "power_manager",
        "type": "function",
        "z": "power_manager_tab",
        "name": "🧠 PM v5.1",
        "func": "const config = flow.get('config') || {};\nlet deviceState = flow.get('deviceState') || {};\nlet actionLog = flow.get('actionLog') || [];\nconst now = Date.now();\nconst units = config.units || {};\n\n// === HELPERS ===\nfunction fmtW(w) { return Math.abs(w) >= 1000 ? (w/1000).toFixed(1) + 'kW' : Math.round(w) + 'W'; }\nfunction fmtTime(h) { return String(Math.floor(h)).padStart(2,'0') + ':' + String(Math.round((h % 1) * 60)).padStart(2,'0'); }\n\nfunction getTariffInfo(d) {\n    const time = d.getHours() + d.getMinutes() / 60;\n    const isWeekend = d.getDay() === 0 || d.getDay() === 6;\n    if (isWeekend) {\n        if (time >= 1 && time < 7) return { tariff: 'superdal', max: 8000, end: 7, next: 'dal', nextTime: '07:00' };\n        if (time >= 7 && time < 11) return { tariff: 'dal', max: 5000, end: 11, next: 'superdal', nextTime: '11:00' };\n        if (time >= 11 && time < 17) return { tariff: 'superdal', max: 8000, end: 17, next: 'dal', nextTime: '17:00' };\n        return { tariff: 'dal', max: 5000, end: 1, next: 'superdal', nextTime: '01:00' };\n    } else {\n        if (time >= 1 && time < 7) return { tariff: 'superdal', max: 8000, end: 7, next: 'piek', nextTime: '07:00' };\n        if (time >= 7 && time < 11) return { tariff: 'piek', max: 2500, end: 11, next: 'dal', nextTime: '11:00' };\n        if (time >= 11 && time < 17) return { tariff: 'dal', max: 5000, end: 17, next: 'piek', nextTime: '17:00' };\n        if (time >= 17 && time < 22) return { tariff: 'piek', max: 2500, end: 22, next: 'dal', nextTime: '22:00' };\n        return { tariff: 'dal', max: 5000, end: 1, next: 'superdal', nextTime: '01:00' };\n    }\n}\n\n// Get NEXT non-piek period for planning\nfunction getNextNonPiek(d) {\n    const time = d.getHours() + d.getMinutes() / 60;\n    const isWeekend = d.getDay() === 0 || d.getDay() === 6;\n    if (isWeekend) return { time: '01:00', tariff: 'superdal', max: 8000 };\n    if (time >= 7 && time < 11) return { time: '11:00', tariff: 'dal', max: 5000 };\n    if (time >= 17 && time < 22) return { time: '22:00', tariff: 'dal', max: 5000 };\n    if (time >= 22 || time < 1) return { time: '01:00', tariff: 'superdal', max: 8000 };\n    return { time: '01:00', tariff: 'superdal', max: 8000 };\n}\n\nfunction canSwitch(device, targetState) {\n    const state = deviceState[device];\n    if (!state) return true;\n    const elapsed = (now - state.lastChange) / 1000;\n    const minTime = targetState ? (config.minOffTime || 180) : (config.minOnTime || 300);\n    return elapsed >= minTime;\n}\n\nfunction updateState(device, on, extra = {}) {\n    if (!deviceState[device]) deviceState[device] = { on: false, lastChange: 0 };\n    if (deviceState[device].on !== on) deviceState[device].lastChange = now;\n    deviceState[device].on = on;\n    Object.assign(deviceState[device], extra);\n    flow.set('deviceState', deviceState);\n}\n\nfunction logAction(action) {\n    const ts = new Date().toLocaleTimeString('nl-NL', {hour: '2-digit', minute: '2-digit'});\n    actionLog.unshift(`${ts} ${action}`);\n    if (actionLog.length > 15) actionLog.pop();\n    flow.set('actionLog', actionLog);\n}\n\nfunction parseOverride(val) {\n    if (!val) return 'auto';\n    if (val.includes('Auto')) return 'auto';\n    if (val.includes('Koelen')) return 'cool';\n    if (val.includes('Verwarmen') || val.includes('Aan') || val.includes('Laden')) return 'heat';\n    if (val.includes('Uit')) return 'off';\n    return 'auto';\n}\n\n// === DATA ===\nconst p1 = (msg.p1_power || 0) * (units.p1 || 1);\nconst pv = (msg.pv_power || 0) * (units.pv || 1);\nconst d = new Date();\nconst tariffInfo = getTariffInfo(d);\nconst tariff = tariffInfo.tariff;\nconst maxImport = tariffInfo.max;\nconst hyst = config.hysteresis || 300;\nconst nextNonPiek = getNextNonPiek(d);\n\nconst isSummer = msg.pool_season === 'on';\nconst isExporting = p1 < 0;\n\nconst ovr = {\n    acLiving: parseOverride(msg.ovr_ac_living),\n    acSlaapkamer: parseOverride(msg.ovr_ac_slaapkamer),\n    acBureau: parseOverride(msg.ovr_ac_bureau),\n    acMancave: parseOverride(msg.ovr_ac_mancave),\n    pool: parseOverride(msg.ovr_pool),\n    boiler: parseOverride(msg.ovr_boiler),\n    ev: parseOverride(msg.ovr_ev)\n};\n\nconst evState = msg.ev_state || 128;\nconst evPlugged = evState !== 128;\nconst evCharging = evState === 132;\nconst evReady = evState === 129;\nconst evDone = evState === 130;\nlet evStatusText = evState === 128 ? 'Geen auto' : evState === 129 ? 'Klaar' : evState === 130 ? 'Vol' : evState === 132 ? 'Laden' : `Code ${evState}`;\n\nconst boilerOn = msg.boiler_switch === 'on';\nconst boilerForce = msg.boiler_force === 'on';\nconst boilerW = (msg.boiler_power || 0) * (units.boiler || 1);\nconst boilerFull = boilerW < (config.boilerIdleThreshold || 50);\nconst poolW = (msg.pool_power || 0) * (units.poolHeat || 1);\nconst poolHeating = poolW > (config.poolIdlePower || 100);\nconst hrOn = msg.heater_right_switch === 'on';\nconst htOn = msg.heater_table_switch === 'on';\nconst evOn = msg.ev_switch === 'on';\nconst evW = (msg.ev_power || 0) * (units.ev || 1);\nconst evLimit = msg.ev_limit || 6;\nconst acLivingOn = msg.ac_living_state !== 'off';\nconst acMancaveOn = msg.ac_mancave_state !== 'off';\nconst acBureauOn = msg.ac_bureau_state !== 'off';\nconst acSlaapkamerOn = msg.ac_slaapkamer_state !== 'off';\nconst tempLiving = msg.temp_living || 20;\nconst tempBedroom = msg.temp_bedroom || 20;\nconst tempMancave = msg.temp_mancave || 20;\nconst coolThreshold = config.summerCoolThreshold || 25;\n\n// Beschikbaar vermogen = wat we nog kunnen toevoegen voordat we limiet raken\nlet avail = -p1 + maxImport;\n// Voor planning: hoeveel extra kunnen we aanzetten\nlet headroom = avail;\n\nconst plan = [];\nconst gridIcon = isExporting ? '🟢' : (p1 > maxImport * 0.8 ? '🔴' : '🟡');\nplan.push(`${gridIcon} ${tariff.toUpperCase()} | ${fmtW(p1)} net | ☀️${fmtW(pv)} | ${fmtW(avail)} vrij`);\nplan.push(`${isSummer ? '☀️ Zomer' : '❄️ Winter'} | 🔌 ${evStatusText}`);\n\nlet decisions = {\n    ev: { action: 'none', amps: evLimit },\n    boiler: { action: 'none' },\n    pool: { action: 'none' },\n    heaterRight: { action: 'none' },\n    heaterTable: { action: 'none' },\n    acLiving: { action: 'none', mode: 'off', temp: 22 },\n    acMancave: { action: 'none', mode: 'off', temp: 17 },\n    acBureau: { action: 'none', mode: 'off', temp: 22 },\n    acSlaapkamer: { action: 'none', mode: 'off', temp: 22 }\n};\n\n// === MANUAL OVERRIDES FIRST ===\nif (ovr.pool === 'heat' && !poolHeating) {\n    decisions.pool.action = 'heat';\n    plan.push(`🏊 Pool: MANUEEL AAN`);\n} else if (ovr.pool === 'off' && poolHeating) {\n    decisions.pool.action = 'off';\n    plan.push(`🏊 Pool: MANUEEL UIT`);\n}\n\nif (ovr.boiler === 'heat' && !boilerOn) {\n    decisions.boiler.action = 'on';\n    plan.push(`🔥 Boiler: MANUEEL AAN`);\n} else if (ovr.boiler === 'off' && boilerOn) {\n    decisions.boiler.action = 'off';\n    plan.push(`🔥 Boiler: MANUEEL UIT`);\n}\n\nif (ovr.ev === 'heat' && evPlugged && !evCharging && !evDone) {\n    decisions.ev = { action: 'on', amps: config.evMaxAmps || 16 };\n    plan.push(`🔌 EV: MANUEEL LADEN`);\n} else if (ovr.ev === 'off' && evCharging) {\n    decisions.ev = { action: 'off', amps: 0 };\n    plan.push(`🔌 EV: MANUEEL UIT`);\n}\n\nconst acUnits = ['acLiving', 'acSlaapkamer', 'acBureau', 'acMancave'];\nconst acNames = { acLiving: 'Living', acSlaapkamer: 'Slaapkamer', acBureau: 'Bureau', acMancave: 'Mancave' };\nconst acStates = { acLiving: acLivingOn, acSlaapkamer: acSlaapkamerOn, acBureau: acBureauOn, acMancave: acMancaveOn };\nconst acTemps = { acLiving: 22, acSlaapkamer: 22, acBureau: 22, acMancave: 17 };\n\nfor (const ac of acUnits) {\n    const o = ovr[ac];\n    const isOn = acStates[ac];\n    const temp = acTemps[ac];\n    if (o === 'cool') {\n        decisions[ac] = { action: 'cool', mode: 'cool', temp: temp };\n        if (!isOn) plan.push(`❄️ ${acNames[ac]}: MANUEEL KOELEN`);\n    } else if (o === 'heat') {\n        decisions[ac] = { action: 'heat', mode: 'heat', temp: temp };\n        if (!isOn) plan.push(`🔥 ${acNames[ac]}: MANUEEL VERWARMEN`);\n    } else if (o === 'off' && isOn) {\n        decisions[ac] = { action: 'off', mode: 'off', temp: temp };\n        plan.push(`⏹️ ${acNames[ac]}: MANUEEL UIT`);\n    }\n}\n\nif (boilerForce && !boilerFull && ovr.boiler === 'auto') {\n    decisions.boiler.action = 'on';\n    plan.push(`🔥 Boiler: FORCE`);\n}\n\n// === WINTER LOGIC ===\nif (!isSummer) {\n    // EV\n    if (ovr.ev === 'auto' && decisions.ev.action === 'none') {\n        if (!evPlugged) {\n            // Geen plan entry nodig - al in header\n        } else if (evDone) {\n            plan.push(`🔌 EV: Vol ✓`);\n        } else {\n            const wpa = config.evWattsPerAmp || 692;\n            const minA = config.evMinAmps || 6;\n            const maxA = config.evMaxAmps || 16;\n            const minEvW = minA * wpa;\n            let targetA = Math.floor(headroom / wpa);\n            targetA = Math.max(minA, Math.min(maxA, targetA));\n            \n            if (evCharging) {\n                if (headroom < minEvW - hyst && canSwitch('ev', false)) {\n                    decisions.ev = { action: 'off', amps: 0 };\n                    plan.push(`🔌 EV: Pauzeren (${fmtW(headroom)} < ${fmtW(minEvW)})`);\n                } else {\n                    plan.push(`🔌 EV: Laden @ ${evLimit}A`);\n                }\n            } else if (evReady) {\n                if (tariff === 'piek') {\n                    plan.push(`🔌 EV: Wacht op dal (${tariffInfo.nextTime})`);\n                } else if (headroom >= minEvW && canSwitch('ev', true)) {\n                    decisions.ev = { action: 'on', amps: targetA };\n                    plan.push(`🔌 EV: Starten @ ${targetA}A`);\n                    headroom -= targetA * wpa;\n                } else {\n                    plan.push(`🔌 EV: Wacht op ${fmtW(minEvW)} (nu ${fmtW(headroom)})`);\n                }\n            }\n        }\n    }\n    \n    // Boiler\n    if (ovr.boiler === 'auto' && decisions.boiler.action === 'none') {\n        const bw = config.boilerPower || 2500;\n        const time = d.getHours() + d.getMinutes() / 60;\n        const deadline = config.boilerDeadlineWinter || 6.5;\n        const urgent = time < deadline && tariff === 'superdal' && !boilerFull;\n        \n        if (boilerFull) {\n            plan.push(`🔥 Boiler: Vol ✓`);\n        } else if (boilerOn) {\n            plan.push(`🔥 Boiler: Verwarmt`);\n        } else if (urgent) {\n            decisions.boiler.action = 'on';\n            plan.push(`🔥 Boiler: URGENT (deadline ${fmtTime(deadline)})`);\n            headroom -= bw;\n        } else if (tariff !== 'superdal') {\n            plan.push(`🔥 Boiler: Wacht op superdal (${nextNonPiek.tariff === 'superdal' ? nextNonPiek.time : '01:00'})`);\n        } else if (headroom >= bw - hyst && canSwitch('boiler', true)) {\n            decisions.boiler.action = 'on';\n            plan.push(`🔥 Boiler: Starten`);\n            headroom -= bw;\n        } else {\n            plan.push(`🔥 Boiler: Wacht op ${fmtW(bw)} (nu ${fmtW(headroom)})`);\n        }\n    }\n    \n    // AC Living\n    if (ovr.acLiving === 'auto' && decisions.acLiving.action === 'none') {\n        if (acLivingOn) {\n            if (tariff === 'piek' && headroom < -hyst && canSwitch('acLiving', false)) {\n                decisions.acLiving = { action: 'off', mode: 'off', temp: 21 };\n                plan.push(`🔥 AC Living: Load shed (piek)`);\n            } else {\n                plan.push(`🔥 AC Living: Verwarmt (${tempLiving.toFixed(1)}°C)`);\n            }\n        } else {\n            const pw = config.acLivingPower || 1500;\n            if (tariff === 'piek') {\n                plan.push(`🔥 AC Living: Wacht tot na piek (${tariffInfo.nextTime})`);\n            } else if (headroom >= pw - hyst && canSwitch('acLiving', true)) {\n                decisions.acLiving = { action: 'heat', mode: 'heat', temp: 21 };\n                plan.push(`🔥 AC Living: Aanzetten`);\n                headroom -= pw;\n            } else {\n                plan.push(`🔥 AC Living: Wacht op ${fmtW(pw)} (nu ${fmtW(headroom)})`);\n            }\n        }\n    }\n    \n    // AC Mancave\n    if (ovr.acMancave === 'auto' && decisions.acMancave.action === 'none') {\n        if (acMancaveOn) {\n            plan.push(`🔥 AC Mancave: Verwarmt (${tempMancave.toFixed(1)}°C)`);\n        } else {\n            const pw = config.acMancavePower || 1000;\n            if (tariff === 'piek') {\n                plan.push(`🔥 AC Mancave: Wacht tot na piek (${tariffInfo.nextTime})`);\n            } else if (headroom >= pw - hyst && canSwitch('acMancave', true)) {\n                decisions.acMancave = { action: 'heat', mode: 'heat', temp: 17 };\n                plan.push(`🔥 AC Mancave: Aanzetten`);\n                headroom -= pw;\n            }\n        }\n    }\n    \n    // HEATER TABLE - altijd plan entry!\n    const htW = config.heaterTablePower || 4100;\n    if (htOn) {\n        if (headroom < -hyst && canSwitch('heaterTable', false)) {\n            decisions.heaterTable.action = 'off';\n            plan.push(`🔥 Heater T: Uitzetten (overbelast)`);\n        } else {\n            plan.push(`🔥 Heater T: Aan (${fmtW(htW)})`);\n        }\n    } else {\n        // Niet aan - waarom niet en wanneer wel?\n        if (tariff === 'piek') {\n            // Bereken wanneer dal of superdal begint\n            plan.push(`🔥 Heater T: Wacht op dal (${tariffInfo.nextTime})`);\n        } else if (headroom < htW - hyst) {\n            plan.push(`🔥 Heater T: Wacht op ${fmtW(htW)} (nu ${fmtW(headroom)})`);\n        } else if (!canSwitch('heaterTable', true)) {\n            plan.push(`🔥 Heater T: Wacht (min tijd)`);\n        } else {\n            // Alle condities voldaan\n            decisions.heaterTable.action = 'on';\n            plan.push(`🔥 Heater T: Aanzetten`);\n            headroom -= htW;\n        }\n    }\n    \n    // HEATER RIGHT - altijd plan entry!\n    const hrW = config.heaterRightPower || 2500;\n    if (hrOn) {\n        if (headroom < -hyst && canSwitch('heaterRight', false)) {\n            decisions.heaterRight.action = 'off';\n            plan.push(`🔥 Heater R: Uitzetten (overbelast)`);\n        } else {\n            plan.push(`🔥 Heater R: Aan (${fmtW(hrW)})`);\n        }\n    } else {\n        if (tariff === 'piek') {\n            plan.push(`🔥 Heater R: Wacht op dal (${tariffInfo.nextTime})`);\n        } else if (headroom < hrW - hyst) {\n            plan.push(`🔥 Heater R: Wacht op ${fmtW(hrW)} (nu ${fmtW(headroom)})`);\n        } else if (!canSwitch('heaterRight', true)) {\n            plan.push(`🔥 Heater R: Wacht (min tijd)`);\n        } else {\n            decisions.heaterRight.action = 'on';\n            plan.push(`🔥 Heater R: Aanzetten`);\n            headroom -= hrW;\n        }\n    }\n\n// === SUMMER LOGIC ===\n} else {\n    // Pool\n    if (ovr.pool === 'auto' && decisions.pool.action === 'none') {\n        const pw = config.poolActivePower || 2000;\n        if (poolHeating) {\n            if (headroom < -hyst && canSwitch('pool', false)) {\n                decisions.pool.action = 'off';\n                plan.push(`🏊 Pool: Pauzeren`);\n            } else {\n                plan.push(`🏊 Pool: Verwarmt`);\n            }\n        } else if (headroom >= pw - hyst && canSwitch('pool', true)) {\n            decisions.pool.action = 'heat';\n            plan.push(`🏊 Pool: Starten (low fan)`);\n            headroom -= pw;\n        } else {\n            plan.push(`🏊 Pool: Wacht op ${fmtW(pw)} (nu ${fmtW(headroom)})`);\n        }\n    }\n    \n    // Boiler\n    if (ovr.boiler === 'auto' && decisions.boiler.action === 'none') {\n        const bw = config.boilerPower || 2500;\n        if (boilerFull) {\n            plan.push(`🔥 Boiler: Vol ✓`);\n        } else if (boilerOn) {\n            plan.push(`🔥 Boiler: Verwarmt`);\n        } else if (headroom >= bw - hyst && canSwitch('boiler', true)) {\n            decisions.boiler.action = 'on';\n            plan.push(`🔥 Boiler: Starten`);\n            headroom -= bw;\n        } else {\n            plan.push(`🔥 Boiler: Wacht op ${fmtW(bw)}`);\n        }\n    }\n    \n    // EV\n    if (ovr.ev === 'auto' && decisions.ev.action === 'none') {\n        if (!evPlugged) {\n            // Skip\n        } else if (evDone) {\n            plan.push(`🔌 EV: Vol ✓`);\n        } else {\n            const wpa = config.evWattsPerAmp || 692;\n            const minA = config.evMinAmps || 6;\n            const minEvW = minA * wpa;\n            let targetA = Math.floor(headroom / wpa);\n            targetA = Math.max(minA, Math.min(config.evMaxAmps || 16, targetA));\n            \n            if (evCharging) {\n                plan.push(`🔌 EV: Laden @ ${evLimit}A`);\n            } else if (evReady && headroom >= minEvW && tariff !== 'piek' && canSwitch('ev', true)) {\n                decisions.ev = { action: 'on', amps: targetA };\n                plan.push(`🔌 EV: Starten @ ${targetA}A`);\n                headroom -= targetA * wpa;\n            } else if (tariff === 'piek') {\n                plan.push(`🔌 EV: Wacht op dal`);\n            } else {\n                plan.push(`🔌 EV: Wacht op ${fmtW(minEvW)}`);\n            }\n        }\n    }\n    \n    // Cooling (alleen bij export)\n    if (isExporting) {\n        const coolOrder = ['acLiving', 'acSlaapkamer', 'acBureau', 'acMancave'];\n        const temps = { acLiving: tempLiving, acSlaapkamer: tempBedroom, acBureau: tempLiving, acMancave: tempMancave };\n        const powers = { acLiving: 1500, acSlaapkamer: 1000, acBureau: 1000, acMancave: 1000 };\n        \n        for (const ac of coolOrder) {\n            if (ovr[ac] !== 'auto') continue;\n            if (decisions[ac].action !== 'none') continue;\n            const pw = config[ac + 'Power'] || powers[ac];\n            const temp = temps[ac];\n            const isOn = acStates[ac];\n            \n            if (temp > coolThreshold && headroom >= pw) {\n                if (!isOn && canSwitch(ac, true)) {\n                    decisions[ac] = { action: 'cool', mode: 'cool', temp: 22 };\n                    plan.push(`❄️ ${acNames[ac]}: Koelen (${temp.toFixed(1)}°C)`);\n                    headroom -= pw;\n                } else if (isOn) {\n                    plan.push(`❄️ ${acNames[ac]}: Koelt (${temp.toFixed(1)}°C)`);\n                }\n            } else if (isOn && headroom < -hyst && canSwitch(ac, false)) {\n                decisions[ac] = { action: 'off', mode: 'off', temp: 22 };\n            }\n        }\n    } else {\n        // Niet exporting - koeling uit\n        for (const ac of acUnits) {\n            if (ovr[ac] !== 'auto') continue;\n            if (acStates[ac] && canSwitch(ac, false)) {\n                decisions[ac] = { action: 'off', mode: 'off', temp: 22 };\n            }\n        }\n        plan.push(`❄️ Koeling: Wacht op export`);\n    }\n}\n\nplan.push(`✅ ${fmtW(headroom)} beschikbaar`);\n\n// === OUTPUTS ===\nconst outputs = new Array(12).fill(null);\nconst executed = [];\n\nif (decisions.ev.action === 'on') {\n    outputs[0] = { payload: { action: 'turn_on', amps: decisions.ev.amps } };\n    updateState('ev', true, { amps: decisions.ev.amps });\n    logAction(`🔌 EV AAN @ ${decisions.ev.amps}A`);\n    executed.push(`EV aan`);\n} else if (decisions.ev.action === 'off') {\n    outputs[0] = { payload: { action: 'turn_off' } };\n    updateState('ev', false);\n    logAction(`🔌 EV UIT`);\n    executed.push(`EV uit`);\n} else if (decisions.ev.action === 'adjust') {\n    outputs[0] = { payload: { action: 'adjust', amps: decisions.ev.amps } };\n    updateState('ev', true, { amps: decisions.ev.amps });\n    logAction(`🔌 EV ${decisions.ev.amps}A`);\n}\n\nif (decisions.boiler.action === 'on' && !boilerOn) {\n    outputs[1] = { payload: 'turn_on' };\n    updateState('boiler', true);\n    logAction(`🔥 Boiler AAN`);\n    executed.push(`Boiler aan`);\n} else if (decisions.boiler.action === 'off' && boilerOn) {\n    outputs[1] = { payload: 'turn_off' };\n    updateState('boiler', false);\n    logAction(`🔥 Boiler UIT`);\n    executed.push(`Boiler uit`);\n}\n\nif (decisions.pool.action === 'heat' && !poolHeating) {\n    outputs[2] = { payload: { mode: 'heat', fan: 'low' } };\n    updateState('pool', true);\n    logAction(`🏊 Pool AAN`);\n    executed.push(`Pool aan`);\n} else if (decisions.pool.action === 'off' && poolHeating) {\n    outputs[2] = { payload: { mode: 'off', fan: 'low' } };\n    updateState('pool', false);\n    logAction(`🏊 Pool UIT`);\n    executed.push(`Pool uit`);\n}\n\nif (decisions.heaterRight.action === 'on' && !hrOn) {\n    outputs[3] = { payload: 'turn_on' };\n    updateState('heaterRight', true);\n    logAction(`🔥 HR AAN`);\n    executed.push(`Heater R aan`);\n} else if (decisions.heaterRight.action === 'off' && hrOn) {\n    outputs[3] = { payload: 'turn_off' };\n    updateState('heaterRight', false);\n    logAction(`🔥 HR UIT`);\n    executed.push(`Heater R uit`);\n}\n\nif (decisions.heaterTable.action === 'on' && !htOn) {\n    outputs[4] = { payload: 'turn_on' };\n    updateState('heaterTable', true);\n    logAction(`🔥 HT AAN`);\n    executed.push(`Heater T aan`);\n} else if (decisions.heaterTable.action === 'off' && htOn) {\n    outputs[4] = { payload: 'turn_off' };\n    updateState('heaterTable', false);\n    logAction(`🔥 HT UIT`);\n    executed.push(`Heater T uit`);\n}\n\nif (decisions.acLiving.action !== 'none') {\n    outputs[5] = { payload: decisions.acLiving };\n    updateState('acLiving', decisions.acLiving.mode !== 'off');\n    logAction(`AC Liv ${decisions.acLiving.mode}`);\n}\nif (decisions.acMancave.action !== 'none') {\n    outputs[6] = { payload: decisions.acMancave };\n    updateState('acMancave', decisions.acMancave.mode !== 'off');\n    logAction(`AC Man ${decisions.acMancave.mode}`);\n}\nif (decisions.acBureau.action !== 'none') {\n    outputs[7] = { payload: decisions.acBureau };\n    updateState('acBureau', decisions.acBureau.mode !== 'off');\n    logAction(`AC Bur ${decisions.acBureau.mode}`);\n}\nif (decisions.acSlaapkamer.action !== 'none') {\n    outputs[8] = { payload: decisions.acSlaapkamer };\n    updateState('acSlaapkamer', decisions.acSlaapkamer.mode !== 'off');\n    logAction(`AC Slp ${decisions.acSlaapkamer.mode}`);\n}\n\noutputs[9] = { payload: { plan, actionLog, tariff, p1, pv, avail, headroom, ovr, isSummer, isExporting } };\n\nconst statusLine = `${tariff.toUpperCase()} | ${fmtW(p1)} | ☀️${fmtW(pv)} | ${fmtW(avail)} vrij`;\nconst planText = plan.join(' • ');\nconst actionsText = actionLog.slice(0,5).join(' | ') || '-';\noutputs[10] = { payload: { status: statusLine, plan: planText.substring(0, 250), actions: actionsText.substring(0, 250) } };\n\nif (executed.length > 0 && config.enableNotifications) {\n    outputs[11] = { payload: { title: '⚡ PM', message: executed.join(', ') } };\n}\n\nnode.status({ fill: isExporting ? 'green' : (p1 > maxImport * 0.8 ? 'red' : 'yellow'), shape: 'dot', text: statusLine });\nreturn outputs;",
        "outputs": 12,
        "x": 1050,
        "y": 460,
        "wires": [
            ["ev_handler"],
            ["boiler_handler"],
            ["pool_handler"],
            ["heater_right_handler"],
            ["heater_table_handler"],
            ["ac_living_handler"],
            ["ac_mancave_handler"],
            ["ac_bureau_handler"],
            ["ac_slaapkamer_handler"],
            ["debug_full"],
            ["ha_status", "ha_plan", "ha_actions"],
            ["notify"]
        ]
    },
    {
        "id": "ev_handler",
        "type": "function",
        "z": "power_manager_tab",
        "name": "🔌 EV",
        "func": "if (!msg.payload) return null;\nconst a = msg.payload.action, amps = msg.payload.amps || 6;\nif (a === 'turn_on' || a === 'adjust') {\n    return [\n        { payload: { domain: 'number', service: 'set_value', data: { entity_id: 'number.abb_terra_ac_current_limit', value: amps } } },\n        a === 'turn_on' ? { payload: { domain: 'switch', service: 'turn_on', data: { entity_id: 'switch.abb_terra_ac_charging' } } } : null\n    ].filter(x => x);\n} else if (a === 'turn_off') {\n    return { payload: { domain: 'switch', service: 'turn_off', data: { entity_id: 'switch.abb_terra_ac_charging' } } };\n}\nreturn null;",
        "outputs": 1,
        "x": 1170,
        "y": 280,
        "wires": [["call_ev"]]
    },
    {
        "id": "call_ev",
        "type": "api-call-service",
        "z": "power_manager_tab",
        "name": "Svc",
        "server": "7a1ecefa.85d54",
        "version": 7,
        "debugenabled": false,
        "action": "{{payload.domain}}.{{payload.service}}",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": ["{{payload.data.entity_id}}"],
        "labelId": [],
        "data": "payload.data",
        "dataType": "msg",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "blockInputOverrides": false,
        "x": 1270,
        "y": 280,
        "wires": [[]]
    },
    {
        "id": "boiler_handler",
        "type": "api-call-service",
        "z": "power_manager_tab",
        "name": "🔥 Boiler",
        "server": "7a1ecefa.85d54",
        "version": 7,
        "debugenabled": false,
        "action": "switch.{{payload}}",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": ["switch.storage_boiler"],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "blockInputOverrides": false,
        "x": 1180,
        "y": 320,
        "wires": [[]]
    },
    {
        "id": "pool_handler",
        "type": "function",
        "z": "power_manager_tab",
        "name": "🏊 Pool",
        "func": "if (!msg.payload) return null;\nreturn {\n    payload: {\n        domain: 'climate',\n        service: 'set_hvac_mode',\n        data: {\n            entity_id: 'climate.98d8639f920c',\n            hvac_mode: msg.payload.mode\n        }\n    }\n};",
        "outputs": 1,
        "x": 1170,
        "y": 360,
        "wires": [["call_pool", "pool_fan"]]
    },
    {
        "id": "call_pool",
        "type": "api-call-service",
        "z": "power_manager_tab",
        "name": "Mode",
        "server": "7a1ecefa.85d54",
        "version": 7,
        "debugenabled": false,
        "action": "{{payload.domain}}.{{payload.service}}",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": ["{{payload.data.entity_id}}"],
        "labelId": [],
        "data": "payload.data",
        "dataType": "msg",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "blockInputOverrides": false,
        "x": 1290,
        "y": 340,
        "wires": [[]]
    },
    {
        "id": "pool_fan",
        "type": "api-call-service",
        "z": "power_manager_tab",
        "name": "Fan Low",
        "server": "7a1ecefa.85d54",
        "version": 7,
        "debugenabled": false,
        "action": "climate.set_fan_mode",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": ["climate.98d8639f920c"],
        "labelId": [],
        "data": "{\"fan_mode\": \"low\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "blockInputOverrides": false,
        "x": 1300,
        "y": 380,
        "wires": [[]]
    },
    {
        "id": "heater_right_handler",
        "type": "api-call-service",
        "z": "power_manager_tab",
        "name": "🔥 HR",
        "server": "7a1ecefa.85d54",
        "version": 7,
        "debugenabled": false,
        "action": "switch.{{payload}}",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": ["switch.livingroom_right_heater"],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "blockInputOverrides": false,
        "x": 1170,
        "y": 420,
        "wires": [[]]
    },
    {
        "id": "heater_table_handler",
        "type": "api-call-service",
        "z": "power_manager_tab",
        "name": "🔥 HT",
        "server": "7a1ecefa.85d54",
        "version": 7,
        "debugenabled": false,
        "action": "switch.{{payload}}",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": ["switch.livingroom_table_heater_state"],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "blockInputOverrides": false,
        "x": 1170,
        "y": 460,
        "wires": [[]]
    },
    {
        "id": "ac_living_handler",
        "type": "api-call-service",
        "z": "power_manager_tab",
        "name": "❄️ Liv",
        "server": "7a1ecefa.85d54",
        "version": 7,
        "debugenabled": false,
        "action": "climate.set_hvac_mode",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": ["climate.living"],
        "labelId": [],
        "data": "{\"hvac_mode\": \"{{payload.mode}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "blockInputOverrides": false,
        "x": 1170,
        "y": 500,
        "wires": [[]]
    },
    {
        "id": "ac_mancave_handler",
        "type": "api-call-service",
        "z": "power_manager_tab",
        "name": "❄️ Man",
        "server": "7a1ecefa.85d54",
        "version": 7,
        "debugenabled": false,
        "action": "climate.set_hvac_mode",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": ["climate.mancave"],
        "labelId": [],
        "data": "{\"hvac_mode\": \"{{payload.mode}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "blockInputOverrides": false,
        "x": 1170,
        "y": 540,
        "wires": [[]]
    },
    {
        "id": "ac_bureau_handler",
        "type": "api-call-service",
        "z": "power_manager_tab",
        "name": "❄️ Bur",
        "server": "7a1ecefa.85d54",
        "version": 7,
        "debugenabled": false,
        "action": "climate.set_hvac_mode",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": ["climate.bureau"],
        "labelId": [],
        "data": "{\"hvac_mode\": \"{{payload.mode}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "blockInputOverrides": false,
        "x": 1170,
        "y": 580,
        "wires": [[]]
    },
    {
        "id": "ac_slaapkamer_handler",
        "type": "api-call-service",
        "z": "power_manager_tab",
        "name": "❄️ Slp",
        "server": "7a1ecefa.85d54",
        "version": 7,
        "debugenabled": false,
        "action": "climate.set_hvac_mode",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": ["climate.slaapkamer"],
        "labelId": [],
        "data": "{\"hvac_mode\": \"{{payload.mode}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "blockInputOverrides": false,
        "x": 1170,
        "y": 620,
        "wires": [[]]
    },
    {
        "id": "debug_full",
        "type": "debug",
        "z": "power_manager_tab",
        "name": "📊",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 660,
        "wires": []
    },
    {
        "id": "ha_status",
        "type": "api-call-service",
        "z": "power_manager_tab",
        "name": "📡 Status",
        "server": "7a1ecefa.85d54",
        "version": 7,
        "debugenabled": false,
        "action": "input_text.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": ["input_text.power_manager_status"],
        "labelId": [],
        "data": "{\"value\": \"{{payload.status}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "blockInputOverrides": false,
        "x": 1180,
        "y": 700,
        "wires": [[]]
    },
    {
        "id": "ha_plan",
        "type": "api-call-service",
        "z": "power_manager_tab",
        "name": "📡 Plan",
        "server": "7a1ecefa.85d54",
        "version": 7,
        "debugenabled": false,
        "action": "input_text.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": ["input_text.power_manager_plan"],
        "labelId": [],
        "data": "{\"value\": \"{{payload.plan}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "blockInputOverrides": false,
        "x": 1180,
        "y": 740,
        "wires": [[]]
    },
    {
        "id": "ha_actions",
        "type": "api-call-service",
        "z": "power_manager_tab",
        "name": "📡 Actions",
        "server": "7a1ecefa.85d54",
        "version": 7,
        "debugenabled": false,
        "action": "input_text.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": ["input_text.power_manager_actions"],
        "labelId": [],
        "data": "{\"value\": \"{{payload.actions}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "blockInputOverrides": false,
        "x": 1190,
        "y": 780,
        "wires": [[]]
    },
    {
        "id": "notify",
        "type": "api-call-service",
        "z": "power_manager_tab",
        "name": "📱",
        "server": "7a1ecefa.85d54",
        "version": 7,
        "debugenabled": false,
        "action": "persistent_notification.create",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"title\": \"{{payload.title}}\", \"message\": \"{{payload.message}}\", \"notification_id\": \"power_manager\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "blockInputOverrides": false,
        "x": 1170,
        "y": 820,
        "wires": [[]]
    },
    {
        "id": "comment",
        "type": "comment",
        "z": "power_manager_tab",
        "name": "📋 PM v5.1 - Vooruitkijkend plan",
        "info": "# v5.1\n- Heaters tonen altijd plan\n- Wacht op dal/superdal met tijden\n- Beschikbaar ipv over",
        "x": 190,
        "y": 20,
        "wires": []
    },
    {
        "id": "7a1ecefa.85d54",
        "type": "server",
        "name": "Home Assistant",
        "addon": true
    }
]
