node-red/simulator.json
[
    {
        "id": "simulator_tab",
        "type": "tab",
        "label": "Power Manager Simulator",
        "disabled": false,
        "info": "Test scenarios without Home Assistant"
    },
    {
        "id": "sim_ui_base",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "dark"
            }
        },
        "site": {
            "name": "Power Manager Simulator",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "sim_tab_main",
        "type": "ui_tab",
        "name": "Simulator",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "sim_group_fixtures",
        "type": "ui_group",
        "name": "Scenario",
        "tab": "sim_tab_main",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "sim_group_power",
        "type": "ui_group",
        "name": "Power Inputs",
        "tab": "sim_tab_main",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "sim_group_devices",
        "type": "ui_group",
        "name": "Device States",
        "tab": "sim_tab_main",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "sim_group_overrides",
        "type": "ui_group",
        "name": "Overrides",
        "tab": "sim_tab_main",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "sim_group_results",
        "type": "ui_group",
        "name": "Results",
        "tab": "sim_tab_main",
        "order": 5,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "sim_comment",
        "type": "comment",
        "z": "simulator_tab",
        "name": "Power Manager Simulator",
        "info": "# Power Manager Simulator\n\nThis flow provides a dashboard for testing the Power Manager\ndecision engine without Home Assistant.\n\n## Usage\n1. Select a scenario or adjust inputs manually\n2. Click \"Run Decision\" to execute the engine\n3. View results in the Results panel\n\n## Requirements\n- node-red-dashboard\n- Power Manager logic modules (../src/logic/)\n\n## Fixtures\nScenarios are loaded from test/fixtures/*.json",
        "x": 150,
        "y": 40
    },
    {
        "id": "sim_fixture_dropdown",
        "type": "ui_dropdown",
        "z": "simulator_tab",
        "name": "Scenario Select",
        "label": "Load Scenario",
        "tooltip": "Select a test scenario to load",
        "place": "Select scenario...",
        "group": "sim_group_fixtures",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {"label": "Winter Off-Peak EV", "value": "winter-offpeak-ev", "type": "str"},
            {"label": "Summer Export Cool", "value": "summer-export-cool", "type": "str"},
            {"label": "Sensor Unavailable", "value": "sensor-unavailable", "type": "str"},
            {"label": "Custom (manual)", "value": "custom", "type": "str"}
        ],
        "payload": "",
        "topic": "fixture",
        "topicType": "str",
        "x": 150,
        "y": 120,
        "wires": [["sim_load_fixture"]]
    },
    {
        "id": "sim_load_fixture",
        "type": "function",
        "z": "simulator_tab",
        "name": "Load Fixture",
        "func": "// Load fixture from file or use defaults\nconst fixtures = {\n    'winter-offpeak-ev': {\n        timestamp: '2024-01-15T02:30:00Z',\n        inputs: {\n            p1_power: 0.5,\n            pv_power: 0,\n            boiler_switch: 'off',\n            boiler_power: 2400,\n            boiler_force: 'off',\n            pool_season: 'off',\n            pool_power: 0,\n            ev_state: 129,\n            ev_switch: 'off',\n            ev_power: 0,\n            ev_limit: 6,\n            heater_right_switch: 'off',\n            heater_table_switch: 'off',\n            ac_living_state: 'off',\n            ac_mancave_state: 'off',\n            ac_office_state: 'off',\n            ac_bedroom_state: 'off',\n            temp_living: 20,\n            temp_bedroom: 20,\n            temp_mancave: 18,\n            ovr_ac_living: 'Auto',\n            ovr_ac_bedroom: 'Auto',\n            ovr_ac_office: 'Auto',\n            ovr_ac_mancave: 'Auto',\n            ovr_pool: 'Auto',\n            ovr_boiler: 'Auto',\n            ovr_ev: 'Auto'\n        }\n    },\n    'summer-export-cool': {\n        timestamp: '2024-07-15T14:00:00Z',\n        inputs: {\n            p1_power: -2.0,\n            pv_power: 5000,\n            boiler_switch: 'off',\n            boiler_power: 0,\n            boiler_force: 'off',\n            pool_season: 'on',\n            pool_power: 1800,\n            ev_state: 128,\n            ev_switch: 'off',\n            ev_power: 0,\n            ev_limit: 16,\n            heater_right_switch: 'off',\n            heater_table_switch: 'off',\n            ac_living_state: 'off',\n            ac_mancave_state: 'off',\n            ac_office_state: 'off',\n            ac_bedroom_state: 'off',\n            temp_living: 27,\n            temp_bedroom: 25,\n            temp_mancave: 24,\n            ovr_ac_living: 'Auto',\n            ovr_ac_bedroom: 'Auto',\n            ovr_ac_office: 'Auto',\n            ovr_ac_mancave: 'Auto',\n            ovr_pool: 'Auto',\n            ovr_boiler: 'Auto',\n            ovr_ev: 'Auto'\n        }\n    },\n    'sensor-unavailable': {\n        timestamp: '2024-01-15T12:00:00Z',\n        inputs: {\n            p1_power: 'unavailable',\n            pv_power: 'unknown',\n            boiler_switch: 'off',\n            boiler_power: 0,\n            pool_season: 'off',\n            ev_state: 128,\n            ovr_ac_living: 'Auto'\n        }\n    },\n    'custom': {\n        timestamp: new Date().toISOString(),\n        inputs: {\n            p1_power: 1.0,\n            pv_power: 0,\n            pool_season: 'off',\n            ev_state: 128\n        }\n    }\n};\n\nconst fixture = fixtures[msg.payload] || fixtures['custom'];\nflow.set('simulator_inputs', fixture.inputs);\nflow.set('simulator_timestamp', fixture.timestamp);\n\n// Send to UI update\nmsg.payload = fixture;\nreturn msg;",
        "outputs": 1,
        "x": 360,
        "y": 120,
        "wires": [["sim_update_ui"]]
    },
    {
        "id": "sim_update_ui",
        "type": "function",
        "z": "simulator_tab",
        "name": "Update UI",
        "func": "// Update all UI elements with fixture data\nconst inputs = msg.payload.inputs;\nconst ts = msg.payload.timestamp;\n\nreturn [\n    { payload: inputs.p1_power || 0 },\n    { payload: inputs.pv_power || 0 },\n    { payload: inputs.temp_living || 20 },\n    { payload: inputs.temp_bedroom || 20 },\n    { payload: inputs.ev_state || 128 },\n    { payload: inputs.pool_season === 'on' },\n    { payload: ts }\n];",
        "outputs": 7,
        "x": 540,
        "y": 120,
        "wires": [["sim_p1_slider"], ["sim_pv_slider"], ["sim_temp_living"], ["sim_temp_bedroom"], ["sim_ev_state"], ["sim_pool_season"], ["sim_timestamp"]]
    },
    {
        "id": "sim_p1_slider",
        "type": "ui_slider",
        "z": "simulator_tab",
        "name": "P1 Power",
        "label": "Grid Power (kW)",
        "tooltip": "Positive = import, Negative = export",
        "group": "sim_group_power",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "p1_power",
        "topicType": "str",
        "min": "-5",
        "max": "10",
        "step": "0.1",
        "x": 140,
        "y": 200,
        "wires": [["sim_store_p1"]]
    },
    {
        "id": "sim_pv_slider",
        "type": "ui_slider",
        "z": "simulator_tab",
        "name": "PV Power",
        "label": "Solar Power (W)",
        "tooltip": "Current solar production",
        "group": "sim_group_power",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "pv_power",
        "topicType": "str",
        "min": 0,
        "max": 8000,
        "step": 100,
        "x": 140,
        "y": 240,
        "wires": [["sim_store_pv"]]
    },
    {
        "id": "sim_temp_living",
        "type": "ui_slider",
        "z": "simulator_tab",
        "name": "Temp Living",
        "label": "Living Room Temp (°C)",
        "tooltip": "",
        "group": "sim_group_power",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "temp_living",
        "topicType": "str",
        "min": 15,
        "max": 35,
        "step": 0.5,
        "x": 150,
        "y": 280,
        "wires": [["sim_store_temp_living"]]
    },
    {
        "id": "sim_temp_bedroom",
        "type": "ui_slider",
        "z": "simulator_tab",
        "name": "Temp Bedroom",
        "label": "Bedroom Temp (°C)",
        "tooltip": "",
        "group": "sim_group_power",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "temp_bedroom",
        "topicType": "str",
        "min": 15,
        "max": 35,
        "step": 0.5,
        "x": 150,
        "y": 320,
        "wires": [["sim_store_temp_bedroom"]]
    },
    {
        "id": "sim_ev_state",
        "type": "ui_dropdown",
        "z": "simulator_tab",
        "name": "EV State",
        "label": "EV State",
        "tooltip": "",
        "place": "",
        "group": "sim_group_devices",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {"label": "No Car (128)", "value": 128, "type": "num"},
            {"label": "Ready (129)", "value": 129, "type": "num"},
            {"label": "Full (130)", "value": 130, "type": "num"},
            {"label": "Charging (132)", "value": 132, "type": "num"},
            {"label": "Error (133)", "value": 133, "type": "num"}
        ],
        "payload": "",
        "topic": "ev_state",
        "topicType": "str",
        "x": 140,
        "y": 400,
        "wires": [["sim_store_ev"]]
    },
    {
        "id": "sim_pool_season",
        "type": "ui_switch",
        "z": "simulator_tab",
        "name": "Pool Season",
        "label": "Summer Mode (Pool Active)",
        "tooltip": "",
        "group": "sim_group_devices",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "pool_season",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 150,
        "y": 440,
        "wires": [["sim_store_pool"]]
    },
    {
        "id": "sim_ovr_ac_living",
        "type": "ui_dropdown",
        "z": "simulator_tab",
        "name": "Override AC Living",
        "label": "AC Living Override",
        "tooltip": "",
        "place": "",
        "group": "sim_group_overrides",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {"label": "Auto", "value": "Auto", "type": "str"},
            {"label": "Cool", "value": "Cool", "type": "str"},
            {"label": "Heat", "value": "Heat", "type": "str"},
            {"label": "Off", "value": "Off", "type": "str"}
        ],
        "payload": "",
        "topic": "ovr_ac_living",
        "topicType": "str",
        "x": 170,
        "y": 520,
        "wires": [["sim_store_ovr_ac"]]
    },
    {
        "id": "sim_ovr_ev",
        "type": "ui_dropdown",
        "z": "simulator_tab",
        "name": "Override EV",
        "label": "EV Override",
        "tooltip": "",
        "place": "",
        "group": "sim_group_overrides",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {"label": "Auto", "value": "Auto", "type": "str"},
            {"label": "On (Charge)", "value": "On", "type": "str"},
            {"label": "Off", "value": "Off", "type": "str"}
        ],
        "payload": "",
        "topic": "ovr_ev",
        "topicType": "str",
        "x": 160,
        "y": 560,
        "wires": [["sim_store_ovr_ev"]]
    },
    {
        "id": "sim_timestamp",
        "type": "ui_text_input",
        "z": "simulator_tab",
        "name": "Timestamp",
        "label": "Timestamp (ISO)",
        "tooltip": "Simulated time (ISO 8601)",
        "group": "sim_group_fixtures",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "timestamp",
        "topicType": "str",
        "x": 150,
        "y": 160,
        "wires": [["sim_store_timestamp"]]
    },
    {
        "id": "sim_run_button",
        "type": "ui_button",
        "z": "simulator_tab",
        "name": "Run Decision",
        "group": "sim_group_fixtures",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Run Decision Engine",
        "tooltip": "Execute decision engine with current inputs",
        "color": "",
        "bgcolor": "#097479",
        "className": "",
        "icon": "play_arrow",
        "payload": "run",
        "payloadType": "str",
        "topic": "action",
        "topicType": "str",
        "x": 160,
        "y": 640,
        "wires": [["sim_collect_inputs"]]
    },
    {
        "id": "sim_collect_inputs",
        "type": "function",
        "z": "simulator_tab",
        "name": "Collect Inputs",
        "func": "// Collect all inputs from flow context\nconst stored = flow.get('simulator_inputs') || {};\n\n// Merge with any direct UI inputs\nconst inputs = {\n    p1_power: flow.get('ui_p1_power') ?? stored.p1_power ?? 1.0,\n    pv_power: flow.get('ui_pv_power') ?? stored.pv_power ?? 0,\n    boiler_switch: stored.boiler_switch ?? 'off',\n    boiler_power: stored.boiler_power ?? 0,\n    boiler_force: stored.boiler_force ?? 'off',\n    pool_season: flow.get('ui_pool_season') ?? stored.pool_season ?? 'off',\n    pool_power: stored.pool_power ?? 0,\n    pool_climate: stored.pool_climate ?? 'off',\n    ev_state: flow.get('ui_ev_state') ?? stored.ev_state ?? 128,\n    ev_switch: stored.ev_switch ?? 'off',\n    ev_power: stored.ev_power ?? 0,\n    ev_limit: stored.ev_limit ?? 6,\n    heater_right_switch: stored.heater_right_switch ?? 'off',\n    heater_table_switch: stored.heater_table_switch ?? 'off',\n    ac_living_state: stored.ac_living_state ?? 'off',\n    ac_mancave_state: stored.ac_mancave_state ?? 'off',\n    ac_office_state: stored.ac_office_state ?? 'off',\n    ac_bedroom_state: stored.ac_bedroom_state ?? 'off',\n    ac_living_power: stored.ac_living_power ?? 0,\n    ac_office_power: stored.ac_office_power ?? 0,\n    temp_living: flow.get('ui_temp_living') ?? stored.temp_living ?? 20,\n    temp_bedroom: flow.get('ui_temp_bedroom') ?? stored.temp_bedroom ?? 20,\n    temp_mancave: stored.temp_mancave ?? 18,\n    ovr_ac_living: flow.get('ui_ovr_ac_living') ?? stored.ovr_ac_living ?? 'Auto',\n    ovr_ac_bedroom: stored.ovr_ac_bedroom ?? 'Auto',\n    ovr_ac_office: stored.ovr_ac_office ?? 'Auto',\n    ovr_ac_mancave: stored.ovr_ac_mancave ?? 'Auto',\n    ovr_pool: stored.ovr_pool ?? 'Auto',\n    ovr_boiler: stored.ovr_boiler ?? 'Auto',\n    ovr_ev: flow.get('ui_ovr_ev') ?? stored.ovr_ev ?? 'Auto'\n};\n\nconst timestamp = flow.get('ui_timestamp') ?? flow.get('simulator_timestamp') ?? new Date().toISOString();\n\nmsg.payload = {\n    timestamp: timestamp,\n    inputs: inputs\n};\n\nreturn msg;",
        "outputs": 1,
        "x": 370,
        "y": 640,
        "wires": [["sim_run_engine"]]
    },
    {
        "id": "sim_run_engine",
        "type": "function",
        "z": "simulator_tab",
        "name": "Run Engine",
        "func": "// This function simulates the decision engine\n// In production, this would import from ../src/logic/\n\nconst { timestamp, inputs } = msg.payload;\nconst now = new Date(timestamp);\n\n// Simplified tariff detection\nconst hour = now.getHours();\nconst day = now.getDay();\nconst isWeekend = day === 0 || day === 6;\n\nlet tariff = 'off-peak';\nlet max = 5000;\n\nif (!isWeekend) {\n    if (hour >= 7 && hour < 11) {\n        tariff = 'peak';\n        max = 2500;\n    } else if (hour >= 17 && hour < 22) {\n        tariff = 'peak';\n        max = 2500;\n    } else if (hour >= 22 || hour < 7) {\n        tariff = 'super-off-peak';\n        max = 8000;\n    }\n} else {\n    if (hour >= 22 || hour < 7 || (hour >= 13 && hour < 17)) {\n        tariff = 'super-off-peak';\n        max = 8000;\n    }\n}\n\n// Calculate available headroom\nconst p1 = typeof inputs.p1_power === 'number' ? inputs.p1_power * 1000 : 0;\nconst available = max - p1;\n\n// Build decisions\nconst decisions = {\n    ev: { action: 'none', amps: 0 },\n    boiler: { action: 'none' },\n    pool: { action: 'none' },\n    acLiving: { action: 'none' },\n    acBedroom: { action: 'none' },\n    acOffice: { action: 'none' },\n    acMancave: { action: 'none' },\n    heaterTable: { action: 'none' },\n    heaterRight: { action: 'none' }\n};\n\nconst plan = [];\nconst isSummer = inputs.pool_season === 'on';\nconst isExporting = p1 < 0;\n\n// Status line\nconst tariffName = tariff.toUpperCase().replace('-', ' ');\nplan.push(`${tariffName} | ${(p1/1000).toFixed(1)}kW | ${(available/1000).toFixed(1)}kW avail`);\n\n// EV logic\nconst evState = inputs.ev_state;\nif (evState === 128) {\n    plan.push('EV: No car');\n} else if (evState === 130) {\n    plan.push('EV: Full');\n} else if (evState === 129 || evState === 132) {\n    if (tariff !== 'peak' && available > 1400) {\n        decisions.ev.action = 'on';\n        decisions.ev.amps = Math.min(16, Math.max(6, Math.floor(available / 230)));\n        plan.push(`EV: Starting ${decisions.ev.amps}A`);\n    } else if (tariff === 'peak') {\n        plan.push('EV: Waiting for off-peak');\n    } else {\n        plan.push('EV: Insufficient headroom');\n    }\n}\n\n// Boiler logic\nconst boilerFull = inputs.boiler_power < 50;\nif (!boilerFull && tariff === 'super-off-peak') {\n    decisions.boiler.action = 'on';\n    plan.push('Boiler: Heating (super off-peak)');\n} else if (boilerFull) {\n    plan.push('Boiler: Full');\n}\n\n// Pool logic (summer only)\nif (isSummer) {\n    plan.push('Season: Summer');\n    if (isExporting) {\n        decisions.pool.action = 'heat';\n        plan.push('Pool: Heating (exp)');\n    }\n    \n    // AC cooling when exporting\n    if (isExporting && inputs.temp_living > 25) {\n        decisions.acLiving.action = 'cool';\n        plan.push('AC Living: Cooling');\n    }\n} else {\n    plan.push('Season: Winter');\n}\n\n// Apply overrides\nif (inputs.ovr_ac_living === 'Cool') {\n    decisions.acLiving.action = 'cool';\n    plan.push('AC Living: MANUAL COOL');\n} else if (inputs.ovr_ac_living === 'Heat') {\n    decisions.acLiving.action = 'heat';\n    plan.push('AC Living: MANUAL HEAT');\n} else if (inputs.ovr_ac_living === 'Off') {\n    decisions.acLiving.action = 'off';\n    plan.push('AC Living: MANUAL OFF');\n}\n\nif (inputs.ovr_ev === 'Off' && decisions.ev.action !== 'none') {\n    decisions.ev.action = 'off';\n    plan.push('EV: MANUAL OFF');\n} else if (inputs.ovr_ev === 'On' && inputs.ev_state === 129) {\n    decisions.ev.action = 'on';\n    decisions.ev.amps = 16;\n    plan.push('EV: MANUAL ON');\n}\n\nmsg.payload = {\n    timestamp: timestamp,\n    meta: {\n        tariff: tariff,\n        max: max,\n        p1: p1,\n        pv: inputs.pv_power || 0,\n        isSummer: isSummer,\n        isExporting: isExporting\n    },\n    headroom: available,\n    decisions: decisions,\n    plan: plan\n};\n\nreturn msg;",
        "outputs": 1,
        "x": 550,
        "y": 640,
        "wires": [["sim_format_results"]]
    },
    {
        "id": "sim_format_results",
        "type": "function",
        "z": "simulator_tab",
        "name": "Format Results",
        "func": "const result = msg.payload;\n\n// Format plan for display\nconst planText = result.plan.join('\\n');\n\n// Format decisions\nlet decisionsText = '';\nfor (const [device, decision] of Object.entries(result.decisions)) {\n    if (decision.action !== 'none') {\n        let line = `${device}: ${decision.action}`;\n        if (decision.amps) line += ` (${decision.amps}A)`;\n        decisionsText += line + '\\n';\n    }\n}\nif (!decisionsText) decisionsText = 'No actions required';\n\n// Format meta\nconst meta = result.meta;\nconst metaText = `Tariff: ${meta.tariff}\\nMax: ${meta.max}W\\nP1: ${meta.p1}W\\nHeadroom: ${result.headroom}W\\nSeason: ${meta.isSummer ? 'Summer' : 'Winter'}\\nExporting: ${meta.isExporting ? 'Yes' : 'No'}`;\n\nreturn [\n    { payload: planText },\n    { payload: decisionsText },\n    { payload: metaText },\n    { payload: JSON.stringify(result, null, 2) }\n];",
        "outputs": 4,
        "x": 730,
        "y": 640,
        "wires": [["sim_plan_display"], ["sim_decisions_display"], ["sim_meta_display"], ["sim_json_display"]]
    },
    {
        "id": "sim_plan_display",
        "type": "ui_text",
        "z": "simulator_tab",
        "group": "sim_group_results",
        "order": 1,
        "width": 4,
        "height": 4,
        "name": "Plan",
        "label": "Plan",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "monospace",
        "fontSize": 14,
        "color": "#ffffff",
        "x": 910,
        "y": 600
    },
    {
        "id": "sim_decisions_display",
        "type": "ui_text",
        "z": "simulator_tab",
        "group": "sim_group_results",
        "order": 2,
        "width": 4,
        "height": 4,
        "name": "Decisions",
        "label": "Decisions",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "monospace",
        "fontSize": 14,
        "color": "#00ff00",
        "x": 920,
        "y": 640
    },
    {
        "id": "sim_meta_display",
        "type": "ui_text",
        "z": "simulator_tab",
        "group": "sim_group_results",
        "order": 3,
        "width": 4,
        "height": 4,
        "name": "Meta",
        "label": "Meta Info",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "monospace",
        "fontSize": 14,
        "color": "#ffff00",
        "x": 910,
        "y": 680
    },
    {
        "id": "sim_json_display",
        "type": "ui_template",
        "z": "simulator_tab",
        "group": "sim_group_results",
        "name": "JSON Output",
        "order": 4,
        "width": 12,
        "height": 6,
        "format": "<pre style=\"background:#1a1a1a;padding:10px;overflow:auto;max-height:200px;font-size:12px;\">{{msg.payload}}</pre>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 920,
        "y": 720
    },
    {
        "id": "sim_store_p1",
        "type": "change",
        "z": "simulator_tab",
        "name": "Store P1",
        "rules": [
            {"t": "set", "p": "ui_p1_power", "pt": "flow", "to": "payload", "tot": "msg"}
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 200
    },
    {
        "id": "sim_store_pv",
        "type": "change",
        "z": "simulator_tab",
        "name": "Store PV",
        "rules": [
            {"t": "set", "p": "ui_pv_power", "pt": "flow", "to": "payload", "tot": "msg"}
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 240
    },
    {
        "id": "sim_store_temp_living",
        "type": "change",
        "z": "simulator_tab",
        "name": "Store",
        "rules": [
            {"t": "set", "p": "ui_temp_living", "pt": "flow", "to": "payload", "tot": "msg"}
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 280
    },
    {
        "id": "sim_store_temp_bedroom",
        "type": "change",
        "z": "simulator_tab",
        "name": "Store",
        "rules": [
            {"t": "set", "p": "ui_temp_bedroom", "pt": "flow", "to": "payload", "tot": "msg"}
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 320
    },
    {
        "id": "sim_store_ev",
        "type": "change",
        "z": "simulator_tab",
        "name": "Store EV",
        "rules": [
            {"t": "set", "p": "ui_ev_state", "pt": "flow", "to": "payload", "tot": "msg"}
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 400
    },
    {
        "id": "sim_store_pool",
        "type": "change",
        "z": "simulator_tab",
        "name": "Store Pool",
        "rules": [
            {"t": "set", "p": "ui_pool_season", "pt": "flow", "to": "payload", "tot": "msg"}
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 440
    },
    {
        "id": "sim_store_ovr_ac",
        "type": "change",
        "z": "simulator_tab",
        "name": "Store",
        "rules": [
            {"t": "set", "p": "ui_ovr_ac_living", "pt": "flow", "to": "payload", "tot": "msg"}
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 520
    },
    {
        "id": "sim_store_ovr_ev",
        "type": "change",
        "z": "simulator_tab",
        "name": "Store",
        "rules": [
            {"t": "set", "p": "ui_ovr_ev", "pt": "flow", "to": "payload", "tot": "msg"}
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 560
    },
    {
        "id": "sim_store_timestamp",
        "type": "change",
        "z": "simulator_tab",
        "name": "Store TS",
        "rules": [
            {"t": "set", "p": "ui_timestamp", "pt": "flow", "to": "payload", "tot": "msg"}
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 160
    }
]
